<!-- <div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Item 1</a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl">daisyUI</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a>Item 1</a></li>
      <li tabindex="0">
        <details>
          <summary>Parent</summary>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </details>
      </li>
      <li><a>Item 3</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn">Button</a>
  </div>
</div> -->
<!--  -->
<!--  -->
<div
  class="h-12 text-red-500 p-4 flex items-center justify-between border-b-2 border-b-red-500 uppercase md:h-24 lg:px-20 xl:px-40"
>
  <div class="hidden md:flex gap-4 flex-1">
    <a routerLink="/">Homepage</a><a routerLink="/menu">Menu</a><a routerLink="/contact">Contact</a>
  </div>
  <div class="text-xl md:font-bold flex-1 md:text-center">
    <a routerLink="/">Store Name</a>
  </div>
  <div class="md:hidden">
    <div  class="btn btn-ghost lg:hidden">
      <img
        alt=""
        loading="lazy"
        width="20"
        height="20"
        decoding="async"
        data-nimg="1"
        class="cursor-pointer"

        src="../../../assets/svg/icons/burger-advanced-svgrepo-com.svg"
        style="color: transparent"
      />
    </div>
  </div>
  <div class="hidden md:flex gap-4 items-center justify-end flex-1">
    <div
      class="md:absolute top-3 r-2 lg:static flex items-center gap-2 cursor-pointer bg-orange-300 px-1 rounded-md"
    >
      <img
        alt=""
        loading="lazy"
        width="20"
        height="20"
        decoding="async"

        src="../../../assets/svg/icons/phone-svgrepo-com.svg"
        style="color: transparent"
      /><span>012 234 5678</span>
    </div>
    <a routerLink="/login">Login</a
    ><a class="flex items-center gap-4" href="/cart"
      ><div class="relative w-8 h-8 md:w-5 md:h-5">
        <img
          alt=""
          loading="lazy"
          decoding="async"
          data-nimg="fill"
          sizes="100vw"
          src="../../../assets/svg/icons/cart-alt-1-svgrepo-com.svg"
          style="
            position: absolute;
            height: 100%;
            width: 100%;
            inset: 0px;
            color: transparent;
          "
        />
      </div>
      <span>Cart (3)</span></a
    >
  </div>
</div>




