img {
  height: 100vh;
  object-fit: contain;
}

.wrapper {

  max-width: 100vw;
  text-align: center;


}

.cover {
  object-fit: cover;
  width: 100%;
  /*height: 300px;  optional, you can remove it, but in my case it was good */
}
